<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.ssm.dao.UserDao">
    <insert id="save">
        insert into t_user(name,birthday,sex,dept,job,ctime)
        values(#{name} ,#{birthday},#{sex} ,#{dept},#{job},now());
    </insert>
    <insert id="saveBatch" parameterType="list">
        insert into t_user(name,birthday,sex,dept,job,ctime) values
        <foreach collection="list" item="u"  separator=",">
            (#{u.name},#{u.birthday},#{u.sex},#{u.dept},#{u.job},now())
        </foreach>
        ;
    </insert>
    <select id="selectCount" resultType="int">
        select count(*) from t_user;
    </select>
    <select id="selectPage" resultType="com.feri.ssm.entity.User">
        select * from t_user order by id limit #{s},#{c};
    </select>
    <select id="depts" resultType="com.feri.ssm.dto.UserDept">
        select dept,count(*) ct from t_user group by dept order by dept;
    </select>
    <select id="selectNum" resultType="com.feri.ssm.entity.User">
        select * from t_user order by id limit #{num}
    </select>
</mapper>